<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>媒体对象</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<style>
    img{
        width:100px;
        height:100px
    }
</style>
<body>
<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="img/apple-icon.png" alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>几年前，Java应用程序（小程序和JOGL的组合） − 被用于通过解决在GPU（图形处理单元）来处理网络上的三维图形。作为小程序需要一个JVM运行，它变得很难依靠Java小程序。几年后，人们就开始停止使用Java小程序了。
            由Adobe (Flash, AIR)的Stage3D API提供了GPU硬件加速架构。使用这些技术，程序员可以对Web浏览器以及对iOS和Android平台上开发2D和3D功能的应用程序。由于Flash是专有软件，它不是用来作为网络标准。

            OpenGL
            OpenGL（开放式图形库）是跨语言，对于2D和3D图形的跨平台API。它是命令的集合。OpenGL4.5是OpenGL的最新版本。下表列出了一组相关的OpenGL技术。</p>
    </div>
</div>

<br><br><br><br><br>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>几年前，Java应用程序（小程序和JOGL的组合） − 被用于通过解决在GPU（图形处理单元）来处理网络上的三维图形。作为小程序需要一个JVM运行，它变得很难依靠Java小程序。几年后，人们就开始停止使用Java小程序了。
            由Adobe (Flash, AIR)的Stage3D API提供了GPU硬件加速架构。使用这些技术，程序员可以对Web浏览器以及对iOS和Android平台上开发2D和3D功能的应用程序。由于Flash是专有软件，它不是用来作为网络标准。

            OpenGL
            OpenGL（开放式图形库）是跨语言，对于2D和3D图形的跨平台API。它是命令的集合。OpenGL4.5是OpenGL的最新版本。下表列出了一组相关的OpenGL技术。</p>
    </div>
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="img/apple-icon.png" alt="...">
        </a>
    </div>
</div>
<br><br><br><br><br>


<ul class="media-list">
    <li class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="img/apple-icon.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            <!-- Nested media object -->
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="img/apple-icon.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Nested media heading</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    <!-- Nested media object -->
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="img/apple-icon.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nested media heading</h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nested media object -->
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="img/apple-icon.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Nested media heading</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </div>
            </div>
        </div>
    </li>
</ul>
</body>
</html>